.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .Logo {
  background-image: url(..);
} */

body{
  margin: 0;
  padding: 0;

}
.header{
  display: flex;
  justify-content: space-between;
  background-color: #242323;
}
.content{
  display: flex;
}
.leftSide{
  display: flex;
  align-items: center;

}
.input{
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 15px;
  padding-top: 0;
  background-color: #595959;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#img-wrapper {
  display: flex;
  justify-content: center;
  height: 92vh;
 }
.image{
  position: relative;
  z-index: 0;

}
.text{
   top: 50%;
   position: absolute;
   left: 40%;
   transform: translateY(-50%);
   z-index: 10;
   color: white;
   text-align: center;
   justify-content: center;
 }
h1, h2{
  color: white;
  font: inherit;
  font-size: 30px;
  padding-right: 30px;
}
h2{

}

@media(max-width:575px) {
  #img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 92vh;
  }

  h2{
    visibility: hidden;
  }
  .image{
    z-index: 0;
  }
  .text{
    z-index: 10;
  }

}
